<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-item-center">
        <section>
            <h1 class="display-1">
                About
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem possimus quis, quia corrupti vel magnam exercitationem nesciunt magni dolores soluta labore tempora assumenda voluptates? Necessitatibus alias repudiandae explicabo pariatur? Rerum ea voluptatem, non ab ducimus iusto, hic laboriosam voluptates atque laudantium doloremque fuga nam magnam. Ipsa officiis doloremque vero commodi sapiente tempore quisquam et voluptates dolorem perferendis. Exercitationem iste blanditiis fugiat vero velit dignissimos quos necessitatibus laboriosam? Excepturi voluptate cupiditate sunt et maxime veniam saepe corrupti enim ducimus ut! Voluptatem, a laboriosam impedit ipsa corrupti blanditiis ea facere ratione ullam tempore quos reprehenderit nulla. Officiis, molestias. In, accusamus sequi aliquid non quibusdam, excepturi explicabo magni, provident nisi quae quos rerum quod obcaecati cumque eos similique doloribus doloremque praesentium dicta temporibus? Cupiditate earum autem recusandae doloribus molestias corporis quia iusto laboriosam! Ut, debitis sit ipsum eaque ratione officiis commodi tempore sunt, nobis unde culpa nesciunt est distinctio nulla? Minus praesentium ducimus molestiae dolorum numquam maiores velit quod quaerat laboriosam a ab voluptatem nulla aut, mollitia dignissimos doloremque, harum incidunt repellendus illum libero fugiat fugit, pariatur exercitationem! Consectetur nihil rem est ullam! Hic aut modi non fugit, itaque amet in quod laudantium placeat nemo ducimus, odio sunt dignissimos alias? Modi, et obcaecati!</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>